body {
  /* background-color: gray; */
  background-image: url("/assets/background-blue.jpg");
  background-size: auto;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 2rem;
}

h1, h3, h5 {
  text-align: center;
}

label {  
  /* margin-left: 2rem;   */
  cursor: pointer;
}

input[type="text"] {
  width: 1.5rem;
  padding: 6px;
  background-color: lightgray;
}

form {
  display: grid;
  grid-template-columns: repeat(11, 1fr);  
}

input[type="text"],
button {
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 16px;
}

button {
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/* Styling for radio buttons */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: lightgray;
  appearance: none;  
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

/* Custom styling when radio button is checked */
input[type="radio"]:checked {
  background-color: #39b934;
}

.box {
  margin: 10px 0px;
}

.buttons-counter {
  display: inline-flex;
  gap: 20px;
}

.buttons-counter>div {
  margin: auto;
}

.clear-button {
  background-color: crimson;
}

.clear-button:hover {
  background-color: firebrick;
}

.characters input[type="text"]{
  border: 2px solid #80e040;
}

.tried input[type="text"] {
  border: 2px solid #e04040;
}